@import './sass/colors';
@import './sass/typography';

@import '~normalize.css/normalize.css';


body {
    background: $color-bg-dk linear-gradient(
        to bottom right, $color-bg-dk 9%, $color-bg-lt 79%
    ) top left no-repeat;
    font-family: $fontstack;
}

.App {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.CityCards {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em;

    .CityCard {
        margin: 0 0.5em 0.5em 0;
    }
}
