@import './sass/colors';
@import './sass/typography';

@import '~normalize.css/normalize.css';


html, body {
    height: 100%;
    min-height: 100%;
}

html {
    background: $color-primary;
}

body {
    background: $color-bg;
    background-image: radial-gradient($color-bg-lt 5%, $color-bg-dk 80%);
    font-family: $fontstack;
}

.App {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
