@import './sass/colors';
@import './sass/typography';

$chartsize: 256px;
.CityCard {
    background: rgba($color-white, 0.035);
    border-radius: 5px;
    padding: 1.0em;

    h2 {
        color: $color-white;
        font-size: $fontsize-lg;
        font-weight: $fontweight-bold;
        letter-spacing: 0.1em;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
    }

    .RadarChart {
        height: $chartsize;
        width: $chartsize;
    }
}
