@import '../sass/colors';
@import '../sass/typography';

$lineWidth: 0.25px;

.RadarChart {
    height: 100%;
    width: 100%;
}

.MonthlyAxis {
    line {
        stroke: $color-gray-25;
        stroke-width: $lineWidth;
    }
}

.TempMarkers {
    circle {
        fill: none;
        stroke: $color-gray-25;
        stroke-width: $lineWidth;
    }
    text {
        dominant-baseline: middle;
        fill: $color-gray-40;
        font-size: 3px;
        text-anchor: middle;
    }
}

.BowmanBelt {
    .belt {
        fill: rgba($color-green, 0.15);
    }
}

.TemperatureBand {
    .high {
        fill: none;
        stroke: $color-primary;
        stroke-width: $lineWidth;
    }
    .highPt {
        fill: lighten($color-primary, 12%);
    }
    .low {
        fill: none;
        stroke: $color-blue;
        stroke-width: $lineWidth;
    }
    .lowPt {
        fill: lighten($color-blue, 12%);
    }
}

.PrecipitationBars {
    line {
        stroke: rgba($color-blue, 0.35);
        stroke-linecap: round;
        stroke-width: 1.5px;
    }
}

.Labels {
    text {
        fill: $color-gray-50;
        font-size: 3.5px;
        font-weight: $fontweight-light;
        text-anchor: middle;
    }
}
