@import './app/sass/_colors.scss';
@import './app/sass/_typography.scss';


// Libraries
@import '~normalize.css/normalize.css';


// Defaults
html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background: $color-gray-95;
    background-image: linear-gradient(to bottom, $color-gray-95, $color-gray-90);
    font-family: $fontstack-normal;
    font-size: $fontsize-md;
    line-height: $fontsize-md * 1.5;
    padding: 1.0em;
}

html {
    background: $color-primary;
}

a {
    color: $color-alt;

    &:hover {
        color: lighten($color-alt, 15%);
    }
}
