
$color-primary: #4BABB9;
$color-alt: #3E93C5;

$color-white: #ffffff;
$color-gray-95: #f3f3f3;
$color-gray-90: #e3e3e3;
$color-gray-50: #808080;
$color-gray-45: #727272;
$color-gray-40: #696969;
$color-gray-30: #4d4d4d;
$color-gray-20: #363636;
$color-black: #000000;
